* { padding:0; margin:0; outline:0;}
body {
	background:url(images/Summer-beach-background-2.jpg);
	background-size:cover;
	background-position:center 190px;
	font-family: Arial, sans-serif;
	font-size:12px;
	line-height:17px;
	color:#09F;
	
}
input, textarea, select { font-family: Arial, sans-serif; font-size:12px; color:#333; }
textarea { overflow:auto;}

a img { border:0; }

a { color:#890000; text-decoration: none; cursor:pointer; }
a:hover { color:#333; }

.left, .alignleft { float:left; display:inline; }
.right, .alignright { float:right; display:inline; }

.cl { font-size:0; line-height:0; clear:both; display:block; height:0; }

.al { text-align: left; }
.ar { text-align: right; }
.ac { text-align: center; }

h3 { font-size:15px; line-height:18px; color:#09F; text-transform: uppercase; }

h1#logo { font-size:0; line-height:0; width:248px; height:61px; float:left; }
h1#logo a{ display:block; height:61px; text-indent: -4000px;  }

#navigation { float:right; white-space:nowrap; background:#FF0; margin-top:-25px; }
#navigation ul{ list-style-type: none; padding-top:30px;}
#navigation ul li{ float:left; display:inline; border-right:solid 1px ; padding-right:8px; margin-right:8px;}
#navigation ul li.last{ border-right:0; padding-right:0; margin-right:0;}
#navigation ul li a{ color:#00C;font-size:16px;}
#navigation ul li a:hover,
#navigation ul li a.active { color:#ffd900;font-size:16px; }


.shell { width:980px; margin:0 auto; }

#top { height:479px; background:url(images/rBlue_with_Yellow_Polka_Dots_brick_preview.jpg) center; }
#header { height:61px; }

#slider { width:980px; height:418px; position:relative; overflow:hidden; }
#slider-holder { width:980px; height:418px; position:relative; overflow:hidden; }
#slider-holder ul{ width:980px; height:418px; position:relative; overflow:hidden; list-style-type: none;}
#slider-holder .jcarousel-clip{ width:980px; height:418px; position:relative; overflow:hidden; }

#slider-holder ul li{ width:980px; height:418px; position:relative; overflow:hidden; float:left; display:inline; }
#slider-nav a{ position:absolute; top:180px; font-size:0; line-height:0; z-index:2; width:58px; height:58px; text-indent: -4000px;}
#slider-nav a.prev{ background:url(images/prev.gif); left:0;}
#slider-nav a.next{ background:url(images/next.gif); right:0;}


#main { width:100%; background:url(images/main.gif) repeat-x 0 0 ;}

.options { height:47px; white-space:nowrap; padding-top:3px;}
.options .search{ float:left; padding:6px 0 0 0; background:url(images/border.gif) repeat-y right 0; height:33px; margin-right:12px;}
.options .search .field{ float:left; width:191px; height:21px; background:url(images/field.gif); padding:6px 5px 0 5px;}
.options .search .field input{ width:191px; border:0; background:transparent; color:#fff; font-weight: bold;}
.search-submit{ float:left; font-size:0; line-height:0; width:24px; height:27px; background:url(images/search.gif); text-indent: -4000px; border:0; margin-left:9px; cursor:pointer; position:relative; top:1px; margin-right:13px;}

.options a { color:#636363; text-decoration: underline;}
.options a:hover { color:#890000; text-decoration: none;}
.options span.left { padding:10px 0 0 0;}
.options span.more-links { margin-left:2px;}
.options span.more-links a{ margin-left:9px;}

.cart { float:left; position:relative; top:6px; font-size:20px; }
.cart strong{ float:left; width:95px; height:36px; background:url(images/cart-price.gif); text-align: right; font-size:20px; color:#701616; line-height:36px; padding:0 7px 0 5px;}
.cart-ico{ float:left; width:47px; height:36px; background:url(images/cart.gif) no-repeat 0 0; font-size:0; line-height:0; text-indent: -4000px;}
.tdn{ float:left; position:relative; right:10px; top:6px;}

#content { padding-top:20px;}

.tabs { height:36px; }
.tabs ul{ list-style-type: none; font-size:14px; text-transform: uppercase; font-weight: bold; }
.tabs ul li{ float:left; display:inline; margin-right:1px; }
.tabs ul li a,
.tabs ul li a span { float:left; height:36px; background:url(images/tab.gif) no-repeat 0 -37px; padding:0 0 0 20px;}
.tabs ul li a span { background-position:right -37px; padding:0 20px 0 0;}
.tabs ul li a { position:relative; line-height:36px; color:#895d23; }


.tabs ul li a.red { background-position:0 -74px; color:#fff; }
.tabs ul li a.red span{ background-position:right -74px;}

.tabs ul li a.active,
.tabs ul li a:hover { background-position:0 0; color:#4f4f4f; }
.tabs ul li a.active span,
.tabs ul li a:hover span{ background-position:right 0;}

#container { background:#FFF; url(images/container-t.gif) no-repeat 0 0; padding:30px 20px; }

.items { position:relative; width:960px; margin-right:-20px; padding-bottom:5px; }
.items ul{ list-style-type: none;}
.items ul .image{ text-align: center;}
.items ul li{ float:left; border:dashed 1px #cfcfcf; width:194px; margin:0 18px 12px 0; padding:13px; }
.items ul li p span{ color:#890000}
.items ul li p.price{ padding-top:15px; }
.items ul li p.price strong{ color:#890000; font-size:14px;}

.brands h3 { padding-bottom:10px;}
.brands a { margin-right:30px;}

#footer { border-top:dashed 1px #cfcfcf; margin-top:20px; padding:5px 0; color:#8e8e8e; background:#FF0;}
#footer a{ color:#8e8e8e; }
#footer a:hover{ color:#9d0000; }
#footer span{ padding:0 5px;}
.sendbutton {
	margin-top:20px;
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25));
	background:-moz-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-webkit-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-o-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-ms-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25',GradientType=0);
	background-color:#ffc477;
	-moz-border-radius:32px;
	-webkit-border-radius:32px;
	border-radius:32px;
	border:1px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:24px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc9f52;
}
.sendbutton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477));
	background:-moz-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:-webkit-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:-o-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:-ms-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477',GradientType=0);
	background-color:#fb9e25;
}
.sendbutton:active {
	position:relative;
	top:1px;
}
.phim{ padding-left:100px;padding-top:50px;}
.banner{
	position:absolute;
	background-color: #FF0;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	display: inline-block;
	cursor: pointer;
	color: #000;
	font-family: Arial;
	font-size: 17px;
	padding: 16px 10px;
	text-decoration: none;
	text-shadow: 0px 2px 0px #FFF;
	height: 6px;
	left: 233px;
	top: 631px;
	width: 317px;
	left: 166px; 
}
.liforbanner{
color: #06F;
 margin-left: 10px;
  margin-top: 10px;
   font-size: 18px;
    list-style: none;
	 position: absolute; 
	 left: 341px; 
	 top: 0px;
	  width: 618px;
	}
.liforbanner2{
	color: #06F;
	 margin-left: 10px;
	  margin-top: 10px; 
	  font-size: 18px; 
	  list-style: none; 
	  position: absolute; 
	  left: 418px; 
	  top: -9px; 
	  height: 37px; width: 559px;
	}
.liforbanner3{
	color: #06F; 
	margin-left: 10px; 
	margin-top: 10px; 
	font-size: 18px; width: 654px; 
	position: absolute; 
	height: 55px; left: 321px; 
	top: -18px;
	}
	
.liforbanner4{
	color:#06F;
	margin-left: 10px; 
	margin-top: 10px; 
	font-size: 18px; 
	position: absolute; 
	left: 594px; 
	top: -11px; width: 382px;
	}
.liforbanner5{
	color:#06F;margin-left: -300px; margin-top: 10px; font-size: 18px; position: absolute; left: 594px; top: 2px; width: 382px;}
.banner1{
	position: absolute;
	background-color: #FF0;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	display: inline-block;
	cursor: pointer;
	color: #000;
	font-family: Arial;
	font-size: 17px;
	padding: 16px 10px;
	text-decoration: none;
	text-shadow: 0px 2px 0px #FFF;
	height: 6px;
	left: 165px;
	top: 681px;
	left: 166px; 
	width: 400px;
}
.banner2{
	position: absolute;
	background-color: #FF0;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	display: inline-block;
	cursor: pointer;
	color: #000;
	font-family: Arial;
	font-size: 17px;
	padding: 16px 10px;
	text-decoration: none;
	text-shadow: 0px 2px 0px #FFF;
	height: 6px;
	left: 165px;
	top: 735px;
	left: 165px; 
	width: 310px;
}
.banner3{
	position: absolute;
	background-color: #FF0;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	display: inline-block;
	cursor: pointer;
	color: #000;
	font-family: Arial;
	font-size: 17px;
	padding: 16px 10px;
	text-decoration: none;
	text-shadow: 0px 2px 0px #FFF;
	height: 6px;
	left: 165px;
	top: 789px;
}
.banner4{
	position: absolute;
	background-color: #FF0;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	display: inline-block;
	cursor: pointer;
	color: #000;
	font-family: Arial;
	font-size: 17px;
	padding: 16px 10px;
	text-decoration: none;
	text-shadow: 0px 2px 0px #FFF;
	height: 6px;
	left: 165px;
	top: 843px;
}
.mainbanner{height:450px;}
.mainbanner ul li{display:none;}
.mainbanner ul:hover li{display:inline-block;}

.Phrase{
	margin-right:475px;
	font-size:14px;
	text-align:justify;
	}
.Phrase:first-letter 
  {
  float:  left;
  color:  #FC0;
  font-size:  75px;
  line-height:  60px;
  padding-top:  4px;
  padding-right:  8px;
  padding-left:  3px;
  font-family:  Georgia;
  }
.storeimage{
	float:right;
	margin-top:-250px;
	}
.insidestore{float:left;padding-top:20px;}
.nhanvienlamtaiday{font-size:24px;float:right;padding-top:20px;margin-right:50px;}
.youcando{font-size:14px;font-weight:bold;padding-bottom:20px;padding-top:10px;}
.imgtitle{float:left;}
.lstim{float:right;padding-top:10px;}
.b1{background:url(images/D8ABD7.jpg) repeat-x;}
.t1{
	background-color:#FFF;
	opacity:0.8;
	color:#000;
	margin-left:50px;
	text-align:center;
	border:2px solid #456879;
	border-radius:10px;
	height: 20px;
	width: 200px;}
.nhan1{margin-left:40px;text-align:justify;margin-top:20px;margin-bottom:20px;}
.tab-content { display:none;}
.tabbed { min-height:420px;}
#MyPopup{
	height:280px;
	width:470px;
	position:fixed;
	bottom:50%;
	right:50%;
	border:2px solid;
	padding:10px;
	background:#FFF;
	border-radius:9px;
	}
.textinput{background-color:#FFF;
	opacity:0.8;
	color:#000;
	text-align:left;
	border:2px solid #FF0;
	border-radius:10px;
	height:100%;
	width:100%;}
#dangky{ margin-left:50px;background:}
.chukieu1{font-size:60px;font-weight:bold;color:#C90;
text-shadow:0 0 4px  #ccc, 0 -5px 4px #ff3, 0 -10px 6px #fd3,-2px -15px 11px #f80,2px -18px 18px #f20;padding-left:365px;margin-top:150px;margin-bottom:-135px;}

.musical{background:url(images/form.png) no-repeat; position:static; width: 3000px; left: 258px; top: 528px; height: 594px;margin-left:200px;
padding-top:10px;}
.aura{ background-color:#06C; color: #FF0; font-size: 15px; position:static; left: 87px; top: 161px; width: 440px; height: 315px;margin-top:150px;
margin-left:50px;}
.light{background:url(images/form%20-%20Copy.png) no-repeat; position:static; width: 3000px; left: 258px; top: 528px; height: 450px;margin-left:200px;
padding-top:10px;}
.diamond{ background-color:#06C; color: #FF0; font-size: 15px; position:static; left: 87px; top: 161px; width: 440px; height: 100px;margin-top:150px;
margin-left:50px;}
.forget{ color:#FC0; }
.forget:hover { color:#0F0;}
.tbright{position:relative; float:right; padding-right:10px;line-height:35px;}
.tbleft{position:relative; float:left; padding-right:10px;line-height:35px;}
.galleryimage{-webkit-transform:scale(1.1); /*Webkit: Scale up image to 1.2x original size*/
-moz-transform:scale(1.1); /*Mozilla scale version*/
-o-transform:scale(1.1); /*Opera scale version*/
box-shadow:0px 0px 30px gray; /*CSS3 shadow: 30px blurred shadow all around image*/
-webkit-box-shadow:0px 0px 30px gray; /*Safari shadow version*/
-moz-box-shadow:0px 0px 30px gray; /*Mozilla shadow version*/
opacity: 1;}

.price2{font-size:16px;color:#890000;}
.description{font-size:12px;text-align:justify lef;width:600px;padding-right:10px;line-height:20px;font-size:14px;padding-bottom:10px;}
.anhsanpham{position:relative; float:left; padding:10px; border-style:dashed;border-width:1px;border-color:#cfcfcf;
-webkit-transform:scale(0.8); /*Webkit: Thu nhỏ kích thước ảnh còn 0.8 so với ảnh gốc*/
-moz-transform:scale(0.8); /*Thu nhỏ đối với Mozilla*/
-o-transform:scale(0.8); /*Thu nhỏ đối với Opera*/
-webkit-transition-duration: 0.5s; /*Webkit: Thời gian phóng to, nhỏ ảnh*/
-moz-transition-duration: 0.5s; /*Như trên*/
-o-transition-duration: 0.5s; /*Như trên*/
opacity: 0.7; /*Độ mờ của hình ảnh*/
margin: 0 10px 5px 0; /*căn đều giữa ảnh*/}

.anhsanpham:hover{
-webkit-transform:scale(1.1); /*Webkit: Tăng kích cỡ ảnh lên 1.1 lần*/
-moz-transform:scale(1.1);
-o-transform:scale(1.1);
box-shadow:0px 0px 30px gray; /*Đổ bóng bằng CSS3*/
-webkit-box-shadow:0px 0px 30px gray;
-moz-box-shadow:0px 0px 30px gray;
opacity: 1; /*Độ mờ của hình ảnh*/
}

.tabVertical{padding-right:1000px;height:600px;min-height:70%;position:static;display:block;}
.tabordion {
  color: #FF0;
  display: block;
  font-family: arial, sans-serif;
  margin: auto;
  position: relative;
  width: 900px;
  text-align:justify;
  height:600px;
  overflow:auto;
}

.tabordion input[name="sections"] {
  position: absolute;
}

.tabordion section {
  display:block;
}

.tabordion section label {
  background: #EA7500;
  border:1px solid #fff;
  cursor: pointer;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  padding: 15px 20px;
  position: relative;
  width: 180px;
  z-index:100;
  line-height:10px;
}
.tabordion section article {
  display: none;
  min-width: 300px;
  padding: 0 0 0 21px;
  position:absolute;
  left: 230px;
  top: 0;
  color:#000;
}

.tabordion section article:after { 
  background-color: #060;
  bottom: 0;
  content: "";
  display: block;
  left:-229px;
  position: static;
  top: 0;
  width: 220px;
  z-index:1;
}

.tabordion input[name="sections"]:checked + label { 
  background: #FFF;
  color: #000;
}

.tabordion input[name="sections"]:checked ~ article {
  display: block;

}


@media (max-width: 900px) {
 
  .tabordion {
    width: 900px;
  }
  
  .tabordion section label {
    font-size: 1em;
    width: 160px;
  }  

 .tabordion section article {
    left: 200px;
    width: 900px;
  } 
  
  .tabordion section article:after {
    background-color: #ccc;
    bottom: 0;
    content: "";
    display: block;
    left:-199px;
    position: static;
    top: 0;
    width: 200px;
	clear:both;
  }  
  
}


@media (max-width: 9000px) {
  .tabordion {
    width: 900px;
  }
}


@media (min-width: 1366px) {

  .tabordion {
    width: 900px;
  }
}
#barlikedislike {  position:static; width:50%;padding-bottom:10px; }
.buttondislikearea { padding-top:10px;padding-right:440px;}
#likesomuch{ height:10px;background:#F90;float:left; border-radius:16px;  }
#dislikesomuch{ height:10px;background:#CCC;float:left;border-radius:16px; }
hr{ background-color: #fff; border-top: 2px dashed #900;width:600px; }
.noidungtinnhan{width:500px;resize:none;height:100px;border: 1px solid #FF0;}
.nhapmail{width:300px;border: 1px solid #FF0;}
.lienhe{font-size:12px;line-height:30px;float:left;}
.commentfacebookha{padding:100px;padding-left:320px;}
.buttonaddcart {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-right:20px;
  width:20%;
}

.buttonaddcart:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
#thongbao{color:#FF3737;font-size:21px;}
#sol {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	border:1px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	color:#000;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 9px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc9f52;
}

#sol:active {
	position:relative;
	top:1px;
}
.soluongaffact {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25));
	background:-moz-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-webkit-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-o-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-ms-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25',GradientType=0);
	background-color:#ffc477;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc9f52;
}
.soluongaffact:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477));
	background:-moz-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:-webkit-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:-o-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:-ms-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477',GradientType=0);
	background-color:#fb9e25;
}
.soluongaffact:active {
	position:relative;
	top:1px;
}



.dropdown {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.06)) repeat scroll 0 0 #FC0;
    border-color: #FC0 #FC0 #FC0;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    display: inline-block;
    height: 28px;
    overflow: hidden;
    position: relative;
    width: 150px;
}
.dropdown:before, .dropdown:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #333 rgba(0, 0, 0, 0);
    border-image: none;
    border-style: dashed;
    border-width: 4px;
    content: "";
    height: 0;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 9px;
    width: 0;
    z-index: 2;
}
.dropdown:before {
    border-bottom-style: solid;
    border-top: medium none;
}
.dropdown:after {
    border-bottom: medium none;
    border-top-style: solid;
    margin-top: 7px;
}
.dropdown-select {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: 0 none;
    border-radius: 0;
    color: #62716A;
    font-size: 12px;
    height: 28px;
    line-height: 14px;
    margin: 0;
    padding: 6px 8px 6px 10px;
    position: relative;
    text-shadow: 0 1px #FFFFFF;
    width: 130%;
}
.dropdown-select:focus {
    color: #62717A;
    outline: 2px solid #49AFF2;
    outline-offset: -2px;
    width: 100%;
    z-index: 3;
}
.dropdown-select > option {
    background: none repeat scroll 0 0 #FC0;
    border-radius: 3px;
    cursor: pointer;
    margin: 3px;
    padding: 6px 8px;
    text-shadow: none;
}
.flashgame{position:static;margin-top:-30px;padding-bottom:5px;}
#rolloverimg{float:right;border-style:dashed;width:70%;height:600px;border-radius: 32px 32px 32px 32px;border-color:#FF3;}
#rolloverimg2{float:right;border-style:dashed;width:70%;height:600px;border-radius: 32px 32px 32px 32px;border-color:#FF3;}
#rolloverimg3{float:right;border-style:dashed;width:70%;height:600px;border-radius: 32px 32px 32px 32px;border-color:#FF3;}
#stringchayjava{position:static;font-size:50px;text-align:center;padding-top:100px;padding-left:100px;width:80%;line-height:50px;height:80%;
text-shadow: 0 0 2px #fff,-1px -1px 0 hsl(80, 70%, 35%),-2px -2px 1px hsl(80, 70%, 35%),-2px -2px 2px hsl(80, 10%, 15%);color:#6CF;}
#stringchayjava div{position:absolute;line-height:30px;}
#stringchayjava p{margin:20px;}
.imformationofaccount{border-radius:32px 32px 32px 32px;border: 2px solid #cfcfcf;width:300px;height:100%;margin-top:20px;}
.informationofaccountinright{border-radius:32px 32px 32px 32px;border: 2px solid #cfcfcf;width:300px;height:100%;float:right;padding:25px 25px;font-size:16px;display:inline;line-height:35px;list-style-type:circle;}
.informationofaccountinleft{float:left;padding:25px 25px;display:inline;padding-bottom:10px;}
.informationofaccountinleft #imageshowfunction:hover{-moz-transform:scale(1.4);}
.informationofaccountcart{padding-top:275px;padding-left:50px;line-height:40px;font-size:16px;}
/*.viewcommentcss{-webkit-box-shadow: 10px 5px 34px 0px rgba(255,247,3,0.69);
-moz-box-shadow: 10px 5px 34px 0px rgba(255,247,3,0.69);
box-shadow: 10px 5px 34px 0px rgba(255,247,3,0.69);}*/
.commentaura{position:relative;width:100%;}
.commentaura img{display: block;}
.commentaura textarea{position:absolute;width:65%;resize:none;height:70px;border: 1px solid #FF0;top:20px;left:140px;overflow:auto;}
.lemonbutton{position:absolute;top:20px;right:70px;}
.lemonbutton:hover{-moz-transform:scale(1.3); }
.viewcommentcss{border: 3px solid #9BCDFF;margin:-50px 31px 31px 80px;height:150px;width:30%;border-radius:15px;padding-left:10px;
box-shadow: 10px 10px 5px #FFFF80;overflow:auto;line-height:20px;}
.useratcomment{font-size:14px;font-weight:bolder;}
.timeatcomment{font-size:14px;float:right;padding-right:10px;}
.commentatcomment{border: 2px solid #FC0;height:65%;width:90%;margin-top:10px;margin-left:10px;}
.cottimkiem{font-size:15px;color:#FC0;font-stretch:narrower;font-weight:bolder;}
.labelofadd{font-size:15px;color:#0C3;}
.labelofadd input[type="text"]{line-height:20px;}
.labelofadd input[type="number"]{line-height:20px;}
#soluongtonkho{font-size:14px;color:#F60;padding-bottom:20px;}
.editaurora{border-radius:32px 32px 32px 32px;border: 2px solid #cfcfcf;width:100%;height:100%;margin-top:20px;}
.editauroraleft{float:left;padding:25px 25px;display:inline;padding-bottom:10px;}
.editauroraright{float:right;padding:25px 150px;font-size:16px;display:inline;line-height:40px;}
.editaurorabelow{padding-top:275px;padding-left:50px;line-height:40px;font-size:16px;}
#imgspinrotate{
	-webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.binhluanlemonarora{position:static;padding-top:400px;padding-bottom:20px;-moz-column-count:2px;}
#editadmin-Aura{line-height:60px;}
.showlisttk{border:1px solid #000;border-style:dashed;width:100%;}
body, a:hover {
	cursor: url(http://cur.cursors-4u.net/food/foo-5/foo495.cur), progress !important;
	}
