@charset "utf-8";
/* CSS Document */

.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
	
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#ffaa56; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:9px;
	font-size:14px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #bf5f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");	background: -o-linear-gradient(top,#ff7f00,bf5f00);

	background-color:#ff7f00;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #bf5f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");	background: -o-linear-gradient(top,#ff7f00,bf5f00);

	background-color:#ff7f00;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

#messageboxshowforaccount{position:absolute;color:#FFF;display:none;background:#000;margin-top:265px;font-size:20px;
width:50%;height:10%;padding:30px 30px 30px 30px;overflow:auto;line-height:30px;}
#messageboxshowforaccount img{position:absolute;top:5px;right:5px;}
#messageboxshowforaccount img:hover{-moz-transform:scale(1.3);}

.CSSTableGenerator2 {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #fff;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator2 table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator2 tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator2 table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator2 table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator2 tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator2 tr:hover td{
	
}
.CSSTableGenerator2 tr:nth-child(odd){ background-color:#ebff56; }
.CSSTableGenerator2 tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
	vertical-align:middle;
	
	
	border:1px solid #fff;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator2 tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator2 tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator2 tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator2 tr:first-child td{
		background:-o-linear-gradient(bottom, #ffff00 5%, #bf5f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffff00), color-stop(1, #bf5f00) );
	background:-moz-linear-gradient( center top, #ffff00 5%, #bf5f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffff00", endColorstr="#bf5f00");	background: -o-linear-gradient(top,#ffff00,bf5f00);

	background-color:#ffff00;
	border:0px solid #fff;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator2 tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #ffff00 5%, #bf5f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffff00), color-stop(1, #bf5f00) );
	background:-moz-linear-gradient( center top, #ffff00 5%, #bf5f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffff00", endColorstr="#bf5f00");	background: -o-linear-gradient(top,#ffff00,bf5f00);

	background-color:#ffff00;
}
.CSSTableGenerator2 tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator2 tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
.Table3 {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #ffff56;
	
	-moz-border-radius-bottomleft:25px;
	-webkit-border-bottom-left-radius:25px;
	border-bottom-left-radius:25px;
	
	-moz-border-radius-bottomright:25px;
	-webkit-border-bottom-right-radius:25px;
	border-bottom-right-radius:25px;
	
	-moz-border-radius-topright:25px;
	-webkit-border-top-right-radius:25px;
	border-top-right-radius:25px;
	
	-moz-border-radius-topleft:25px;
	-webkit-border-top-left-radius:25px;
	border-top-left-radius:25px;
}.Table3 table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.Table3 tr:last-child td:last-child {
	-moz-border-radius-bottomright:25px;
	-webkit-border-bottom-right-radius:25px;
	border-bottom-right-radius:25px;
}
.Table3 table tr:first-child td:first-child {
	-moz-border-radius-topleft:25px;
	-webkit-border-top-left-radius:25px;
	border-top-left-radius:25px;
}
.Table3 table tr:first-child td:last-child {
	-moz-border-radius-topright:25px;
	-webkit-border-top-right-radius:25px;
	border-top-right-radius:25px;
}.Table3 tr:last-child td:first-child{
	-moz-border-radius-bottomleft:25px;
	-webkit-border-bottom-left-radius:25px;
	border-bottom-left-radius:25px;
}.Table3 tr:hover td{
	background-color:#b3f78f;
		

}
.Table3 td{
	vertical-align:middle;
	
	background-color:#52ce8e;

	border:1px solid #ffff56;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:8px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffff00;
}.Table3 tr:last-child td{
	border-width:0px 1px 0px 0px;
}.Table3 tr td:last-child{
	border-width:0px 0px 1px 0px;
}.Table3 tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.Table3 tr:first-child td{
		background:-o-linear-gradient(bottom, #ffaa56 5%, #bf5f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffaa56), color-stop(1, #bf5f00) );
	background:-moz-linear-gradient( center top, #ffaa56 5%, #bf5f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffaa56", endColorstr="#bf5f00");	background: -o-linear-gradient(top,#ffaa56,bf5f00);

	background-color:#ffaa56;
	border:0px solid #ffff56;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:25px;
	font-family:Arial;
	font-weight:bold;
	color:#ffff56;
}
.Table3 tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #ffaa56 5%, #bf5f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffaa56), color-stop(1, #bf5f00) );
	background:-moz-linear-gradient( center top, #ffaa56 5%, #bf5f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffaa56", endColorstr="#bf5f00");	background: -o-linear-gradient(top,#ffaa56,bf5f00);

	background-color:#ffaa56;
}
.Table3 tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.Table3 tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
.Table3 img{position:static; width:100%;border:none;margin-top:-16px;}
.soluongtaikhoan{color:#0C0; font-size:14px; padding-bottom:20px;font-weight:bold;}
#editadmin{font-size:12px; color:#0C0;}
.h2tinnhanadmin{color:#FC0; font-size:14px;font-weight:bold;padding-bottom:20px;}
#labelmessage{ padding-top:10px; padding-bottom:20px; color:#09F; }
